.setting-div{
    padding: 20px 0;
    padding-bottom: 100px;
    .setting-form{
        .setting-text-input{
                border: 1px solid rgb(150, 150, 255);
                padding: 10px 15px;
                font-size: 18px;
                border-radius: 5px;
                width: 250px;
                margin: 10px;
                color: rgb(1, 1, 127);
                letter-spacing: 2px;
                outline: none;
            }
            .setting-text-input:focus{
                border: 1px solid orange;
                outline: 2px solid orange;
            }
            ::placeholder{
                font-size: 15px;
                color: rgb(169, 169, 169);
            }
            .submit-bt{
                background-color: orange;
                border: none;
                margin: 40px 0;
                padding: 15px 25px;
                font-size: 18px;
                color: white;
                font-weight: 600;
                border-radius: 10px;
            }
            .submit-bt:hover{
                cursor: pointer;
            }
    }
}