.header-div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 10px 20px;
        align-items: center;
        // width: 100%;
        background-color: rgb(1, 1, 127);
        .links{
            // width: 100%;
            justify-content: center;
            ul{
                list-style: none;
                display: flex;
                text-align: center;
                gap: 50px;
                li{
                    font-weight: bold;
                    color: white;
                    a{
                        color: white;
                        text-decoration: none;
                    }
                }
                li:hover, a:hover{
                    cursor: pointer;
                    text-decoration: underline;
                    text-underline-offset: 10px;
                    text-decoration-color: orange;
                    color:white;
                }
            }
        }
    
        .logout-bt-div{
            display: flex;
            align-items: center;

            .time-and-bt{
                .time{
                    user-select: none;
                    margin: 0 10px;
                    font-weight: bold;
                    color: white;
                    font-size: 18px;
                    letter-spacing: 2px;
                }
            }
                .logout-bt{
                    border: 2px solid white;
                    background-color: rgb(1, 1, 127);
                    color: white;
                    font-size: 20px;
                    font-weight: bold;
                    padding: 10px 20px;
                    border-radius: 5px;
                }
                .logout-bt:hover{
                    cursor: pointer;
                    background-color: rgb(240, 240, 240);
                    color: rgb(1, 1, 127);
                    transition: 0.6s;
                }
            }
    }
    @media screen and(max-width: 750px) {
            .header-div{
                justify-content: center;
                padding: 0;
                .links{
                        width: 100%;
                        ul{
                            gap:15px;
                            li{
                                font-size: 10px;
                            }
                        }
                    }
                    .logout-bt-div{
                        .time-and-bt{
                            display: none;
                        }
                        .logout-bt{
                                padding: 5px 10px;
                                font-size: 15px;
                                margin-bottom: 15px;
                        }
                    }
            }
    }
    